@import "./mixins.scss";
@import "./variables.scss";

.custom-button {
  border-radius: 0.15rem;
  border: 0;
  font-size: 1rem;
  height: 2rem;
  line-height: 1.2rem;
  margin-right: 1rem;
  width: 8rem;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  color: $white;
  background-color: transparent;
}

.custom-button:hover {
  @include custom-button-active;

  color: $black;
  background-color: $white;
  border: 2px solid transparent;
}

.custom-button--remove {
  color: $black;
  border-color: $black;
  background-color: $white;
}

.custom-button--nominate {
  color: $nominate-color;
  border-color: $nominate-color;
  background-color: $white;
}

.custom-button--remove:hover {
  color: $white;
  background-color: $remove-color;
}

.custom-button--nominate:hover {
  color: $white;
  background-color: $nominate-color;
}

.custom-button:last-of-type {
  margin-right: 0;
}

.custom-button:focus {
  outline: none;
}

.custom-button:disabled {
  border-style: solid;
  border-color: $grey;
  color: $grey;
  background-color: $light-grey;
  opacity: 0.5;
  cursor: default;
}
