@import "./variables.scss";

.results {
  margin-bottom: 2rem;
}

.movie-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3.5rem;
  &:nth-child(odd) {
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-color: $dark-accent;
  }
  &:last-of-type {
    border-bottom: 1px solid;
  }
  &:hover {
    background-color: $light-background;
  }
}