$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$grey: #777;
$dark-grey: #333333c4;
$light-grey: #dcdcdc42;
$peach: #f1ca9b;
$nominate-color: #ad741d;
$remove-color: #554e45;
$light-background: #4da27045;
$dark-accent: #387752;

$spacing: 2rem;
